#DirectoryIndex index.html entry.html
#deny from all

<FilesMatch "(index\.html|entry\.html|entry\.cgi|test\.cgi)">
Options ExecCGI
allow from all
</FilesMatch>

#<FilesMatch "entry2008\.(html|cgi)">
#deny from all
#</FilesMatch>

<FilesMatch "reset.cgi">
allow from 172.24.13.132
</FilesMatch>

<FilesMatch ".*\.(csv|dat|log)">
deny from all
</FilesMatch>

<FilesMatch "^\.ht.*">
deny from all
</FilesMatch>

<FilesMatch "^\.?htpasswd">
deny from all
</FilesMatch>

<FilesMatch "(number|number2|passwd)">
deny from all
</FilesMatch>

