AuthType	Basic
AuthName	CEST12thSeminar
AuthUserFile	/home/httpd/htdocs/CEST/seminar/12th/slide/.passwd
AuthGroupFile	/dev/null
require user	cest12th

deny from all

<FilesMatch "^cest-0902\.pdf$">
allow from all
</FilesMatch>

#<FilesMatch "(index\.html|entry\.html|entry\.cgi)">
#allow from all
#</FilesMatch>
#
#<FilesMatch "entry2008\.(html|cgi)">
#deny from all
#</FilesMatch>
#
#<FilesMatch "reset.cgi">
#deny from all
#</FilesMatch>
#
#<FilesMatch ".*\.(csv|dat|log)">
#deny from all
#</FilesMatch>
#
#<FilesMatch "^\.ht.*">
#deny from all
#</FilesMatch>
#
#<FilesMatch "^\.?htpasswd">
#deny from all
#</FilesMatch>
#
#<FilesMatch "(number|number2|passwd)">
#deny from all
#</FilesMatch>

