/* CESTのウェブページ用のスタイルシート */
/* -------+---------+---------+---------+---------+---------+------ */

BODY {
/*  font-family           : sans-serif;*/

  color                 : #464646;

    background          : white url(images/bg.jpeg) no-repeat fixed;

    margin              : 50px 50px 0 50px;
}

A:link {
  font-weight           : bold;
  color                 : #FF7800;
}
A:active {
  font-weight           : bold;

  color                 : #FF0000;
}
A:visited {
  font-weight           : bold;

  color                 : #FF7800;

  text-decoration       : none;
}

H1 {
  font-family           : sans-serif;
  font-style            : normal;
  font-weight           : bold;
  font-size             : x-large;

  color                 : #184E1C;

  text-align            : right;

  margin-right          : 0;
  margin-left           : 0;

    border-width        : 0 0 2px 0;
    border-color        : #00007F;
    border-style        : solid;
}

H2 {
  font-weight           : bold;
  font-size             : medium;

  color                 : #184E1C;

  text-align            : left;

  margin-right          : 1em;
  margin-left           : 1em;

    border-width        : 0 0 1px 0;
    border-color        : #00007F;
    border-style        : solid;
}

H2.alphabet {
  font-family           : Arial, sans-serif;
  font-style            : italic;
}

H2.periodic {
  font-size             : small;

  color                 : #FFFFFF;

    background          : #7F7F7F;

    border-width        : 1px;
    border-color        : #7F7F7F;
    border-style        : outset;

    padding             : 1px;
}

H2.aperiodic {
  font-size             : small;

  color                 : #FFFFFF;

    background          : #AF7F7F;

    border-width        : 1px;
    border-color        : #AF7F7F;
    border-style        : outset;

    padding             : 1px;
}

H2.whatsnew {
  font-family           : Arial, sans-serif;
  font-style            : italic;
  font-size             : small;

  color                 : #FFFFFF;

    background          : #987654;
    border-width        : 1px;
    border-color        : #AF7F7F;
    border-style        : outset;

    padding             : 1px;
}

H2.subtitle {
  font-weight           : bold;
  font-size             : medium;

  color                 : #184E1C;

  text-align            : left;

  margin-right          : 1em;
  margin-left           : 1em;

    border-width        : 0 0 1px 0;
    border-color        : #00007F;
    border-style        : dotted;
}

H3.emergency {
  font-weight           : bold;
  font-size             : small;

  color                 : red;

  text-align            : left;

  margin-top            : 0;
  margin-right          : 2em;
  margin-bottom         : 0;
  margin-left           : 2em;
}

H3 {
  font-weight           : bold;
  font-size             : small;

  color                 : #987654;

  text-align            : left;

  margin-top            : 0;
  margin-right          : 2em;
  margin-bottom         : 0;
  margin-left           : 2em;
}

UL,OL,DL {
  margin-bottom         : 1em;
}

DT {
  font-weight           : bold;

  color                 : #987654;
}

P {
  margin-top            : 0;
  margin-right          : 2em;
  margin-bottom         : 1em;
  margin-left           : 2em;
}

P.indent {
  text-indent           : 1em;
}

P.InsideList {
  margin-right          : 0;
  margin-left           : 0;
}

P.note {
  font-size             : x-small;

  text-align            : right;

  margin-right          : 0;
  margin-bottom         : 0;
  margin-left           : 0;
}

P.linkbar {
  color                 : #3F3F3F;

    background          : #DFDFEF;

  margin-top            : 1em;
  margin-right          : 0;
  margin-bottom         : 0;
  margin-left           : 0;

  padding-top           : 2px;
  padding-right         : 20px;
  padding-bottom        : 2px;
  padding-left          : 20px;

    border-width        : 2px;
    border-color        : #00005F;
    border-style        : outset;
}

.linkbar {
  text-decoration: none;
}

P.copyright {
  font-size             : x-small;

  color                 : #3F3F3F;

  text-align            : center;

  margin-top            : 0;
  margin-right          : 0;
  margin-bottom         : 0;
  margin-left           : 0;
}

ADDRESS {
  font-size             : x-small;

  color                 : #CF3F3F;

  text-align            : center;

  margin-top            : 0;
  margin-right          : 0;
  margin-bottom         : 0;
  margin-left           : 0;
}

/* -------+---------+---------+---------+---------+---------+------ */

STRONG {
  color                 : #CF3F00;
}

/* -------+---------+---------+---------+---------+---------+------ */

TABLE.contact {
  margin          : 1em 3em 1em 3em;
}

TH {
  color                 : #FFFFFF;

    background          : #987654;
}

TD.banner {
  text-align            : center;

    border-bottom       : 1px solid #987654;

  white-space           : nowrap;
}

TD.name {
  font-weight           : bold;

    border-bottom       : 1px solid #987654;

  white-space           : nowrap;
}

TD.description {
    border-bottom       : 1px solid #987654;
}

.important {
  font-weight : bold;
  font-size   : large;
}
/* -------+---------+---------+---------+---------+---------+------ */

/*
 {
  font-family           :
  font-style            :
  font-variant          :
  font-weight           : bold;
  font-size             :

    font                :

  color                 :
  background-color      :
  background-image      :
  background-repeat     :
  background-attachment :
  background-position   :

    background          :

  word-spacing          :
  letter-spacing        :
  text-decoration       :
  vertical-align        :
  text-transform        :
  text-align            :
  text-indent           :
  line-height           :

  margin-top            :
  margin-right          :
  margin-bottom         :
  margin-left           :

    margin              :

  padding-top           :
  padding-right         :
  padding-bottom        :
  padding-left          :

    padding             :

  border-top-width      :
  border-right-width    :
  border-bottom-width   :
  border-left-width     :

    border-width        :
    border-color        :
    border-style        :

    border-top          :
    border-right        :
    border-bottom       :
    border-left         :

      border            : thick double red;

  width                 :
  height                :
  float                 :
  clear                 :

  display               :
  white-space           : nowrap;

  list-style-type       :
  list-style-image      :
  list-style-position   :

    list-style          :
}
*/

/* -------+---------+---------+---------+---------+---------+------ */
